body{
    background-image: url(https://cdn11.bigcommerce.com/s-ikl27/images/stencil/1280x1280/products/17828/436067/Gibson-SG-Angus-Young-Thunderstruck-Cherry-VOS-1__08575.1599455460.jpg?c=3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.header {
    flex: 0 24%;
    height: 100px;
    text-align: center;
    margin-bottom: 4%;
    background-color: indigo;
    border: 10px, solid, green;
}

.container2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rubrik {
    width: 500px;
    height:80px;
    margin-bottom: 5%;
    background-color: red;
    text-align: center;
}

.item {
    width: 23%;
    padding-bottom: 10%;
    margin-bottom: 2%;
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: lemonchiffon;
    text-align: center;
}