body{
    background-image: url(https://cdn11.bigcommerce.com/s-ikl27/images/stencil/1280x1280/products/17828/436067/Gibson-SG-Angus-Young-Thunderstruck-Cherry-VOS-1__08575.1599455460.jpg?c=3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
    padding: 1px;
}

.header {
    flex: 0 10%;
    height: 40px;
    text-align: center;
    margin-bottom: 4%;
    background-color: indigo;
    border-radius: 10px;
}

.container2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rubrik {
    width: 500px;
    height:80px;
    margin-bottom: 5%;
    background-color: darkred;
    text-align: center;
    border-radius: 15px;
}

.item {
    height: 300px;
    width: 300px;
    padding-bottom: 10%;
    margin-bottom: 2%;
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: grey;
    text-align: center;
}

.item2 {
    height: 300px;
    width: 32%;
    padding-bottom: 5%;
    margin-bottom: 2%;
    position: relative;
}